{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main_Page</title>
    <link rel="stylesheet" href="{% static 'main_page.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <span>🐾 Cat & Dog Image Recognition</span>
      </div>
      <div class="auth-buttons">
        <button class="btn btn-login" id="loginBtn" type="button">Login</button>
        <button class="btn btn-signup" id="signupBtn" type="button">
          SignUp
        </button>
      </div>
    </header>
    <script src="{% static 'main_page.js' %}"></script>
  </body>
</html>
