{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
    <link rel="stylesheet" href="{% static 'upload_img_stylesheet.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <div class="logout">
      <a href="#">Logout</a>
    </div>
    <div class="upload-container">
      <section class="upload-section" id="uploadSection">
        <div
          class="upload-box"
          id="uploadBox"
          onclick="document.querySelector('#fileInput').click()"
        >
          <div class="upload-icon">📷</div>
          <div class="upload-text">Click or Drag to Upload Pet Photos</div>
          <div class="upload-hint">
            Supports JPG and PNG formats, with a file size limit of 5MB.
          </div>
          <input
            type="file"
            id="fileInput"
            style="display: none"
            accept="image/jpeg, image/png"
          />
        </div>
        <button class="btn-analyze" id="analyzeBtn">Start Recognition</button>
      </section>

      <div class="footer">
        <a href="#">Check historical data</a>
      </div>
    </div>

    <div id="user-account">{{ USERNAME }}</div>
    <script src="{% static 'upload_img.js' %}"></script>
  </body>
</html>
