{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login_stylesheet.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <div>
        <div class="input-container">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
          />
        </div>
        <div class="input-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="forgot-password">
          <a href="#">Forgot password?</a>
        </div>
        <button type="submit" class="login-btn">Login</button>
      </div>
      <div class="signup">Not a member? <a href="#">Sign up</a></div>
    </div>

    <script>
      // Collect the user data
      document
        .querySelector(".login-btn")
        .addEventListener("click", function (event) {
          // Prevent the list send automatically
          event.preventDefault();

          // Collect the values of input
          const username = document.querySelector("#username").value;
          const password = document.querySelector("#password").value;

          // Apply AJAX technique to sen data to backend
          fetch("/verify/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ user_name: username, password: password }),
          })
            .then((response) => {
              if (response.redirected) { // response successfully from backend using POST method
                window.location.href = response.url;
              } else { 
                console.log("Success:", response.body);
                return response.json();
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
