{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    <link rel="stylesheet" href="{% static 'password_reset.css' %}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="password-reset-container">
      <h2>Reset your password</h2>
      <div class="input-container" id="password-container">
        <input
          type="password"
          id="password"
          placeholder="New Password"
          maxlength="12"
        />
      </div>
      <div class="input-container" id="confirm-password-container">
        <input
          type="password"
          id="confirm-password"
          placeholder="New Password again"
          maxlength="12"
        />
        <p class="password-rule">Rule: 8-12 characters long.</p>
      </div>
      <button type="button" class="reset-btn" id="reset-btn">
        Submit
      </button>
    </div>

    <script src="{% static 'password_reset.js' %}"></script>
  </body>
</html>
