{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historical Data</title>
    <link rel="stylesheet" href="{% static 'show_his_data_stylesheet.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="user-info" id="user-name">User name: {{USERNAME}}</div>
        <div class="logout-back">
          <button class="back-button">Back</button><p class="logout">Logout</p>
        </div>
      </div>
      <hr />
      <div class="data-table">
        <div class="table-header">
          <div class="column">Datetime</div>
          <div class="column">Results</div>
          <div class="column">Photos</div>
        </div>
        {% for Image, Feedback, DateTime in Historical_Data %}
        <div class="table-row">
          <div class="column">{{ DateTime }}</div>
          <div class="column">{{ Feedback }}</div>
          <div class="column">
            <img
              class="cls-img"
              src="data:image/jpeg;base64, {{ Image }}"
              alt="Image"
            />
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- <div class="footer">這裡想放頁碼.....</div> -->

    <script src="{% static 'show_his_data.js' %}"></script>
  </body>
</html>
