* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 30px 50px 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

/* gmail sending */
.gmail-button-group {
  display: flex;
  justify-content: right;
}

.send-btn {
  background-color: #e0e8f9;
  border: 2px solid #b0b0b0;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

/* Disabled state styles for the button */
.send-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  /* Remove hover effect when disabled */
  pointer-events: none; /* This cancels all interactions, including hover */
}

.send-btn:hover {
  background-color: #c0d6f9;
}

/* code verification */
.code-button-group {
  display: flex;
  justify-content: space-between;
}

.resend {
  font-size: 0.9rem;
  color: #666;
}

.resend-link {
  color: red;
  text-decoration: none;
}

.resend-link:hover {
  text-decoration: underline;
}

.verify-btn {
  background-color: rgb(211, 227, 247);
  border: 1px solid #b0b0b0;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.verify-btn:hover {
  background-color: #c0d6f9;
}
