body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.logout {
  cursor: pointer;
  color: #666;
}

.results-box {
  background-color: #e6f3ff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
  color: #333;
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-box {
  background-color: #e6f3ff;
  width: 30%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.question {
  margin-bottom: 20px;
}

.options {
  display: flex;
  align-items: center;
}

.options label {
  margin-right: 20px;
}

/* Set the width and border of the drop-down menu */
.breed-select {
  width: 180px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
}

/* Change border color when dropdown menu gets focus */
.breed-select:focus {
  border-color: #007bff; /* The border color when focus is obtained */
  outline: none; /* Remove default outline */
}

/* Style options of dropdown menu */
.breed-select option {
  padding: 10px;
  background-color: #fff;
  color: #333; /* Font color */
}

/* Can add hover effects to options */
.breed-select option:hover {
  background-color: #f1f1f1;
}

.save-data {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #666;
  border-radius: 5px;
  font-size: 12px;
}

.save-data:hover {
  background-color: #e6f3ff;
}

.footer {
  display: flex; /* Apply Flexbox */
  justify-content: space-between;
}

.back-button {
  background-color: #f0f0f0;
  color: #666;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s; /* 漸變效果 */
}

.back-button:hover {
  background-color: #e6f3ff;
}

#user-account {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
